body {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    margin: 0 auto;
    color: #121212;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

a {
    text-decoration:none;
}

a:link {
    color: #000000;
}

a:visited {
    color: #666666;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button, p, pre {
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    top: 0;
    height: 3.5rem;
    margin-right: 0.5rem;
    background-color: hsla(0,0%,100%,.9);
}

.banner .logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.banner .text {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: auto;
}

.banner .text .title {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: .31px;
    color: #121212;
}

.banner .text .desc {
    margin-top: 3px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: .22px;
    color: #444;
}

.banner .date {
    letter-spacing: 0.06rem;
    margin-right: 0.75rem;
    text-align: center;
}

.banner .date .day {
    font-weight: bold;
    font-size: 1.0rem;
    padding-bottom: 0.1rem;
}

.banner .date .month {
    margin-top: 3px;
    font-size: 10px;
    line-height: 1;
    color: #444;
}

.item-list {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 3rem;
    grid-template-columns: 1fr minmax(5rem, 40%);
}

.item-list .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.item-list .item .text {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    font-size: 1.15rem;
    margin-right: 0.75rem;
}

.item-list .item .text .tips {
    font-size: 0.85rem;
}

.item-list .item .image {
    width: 5rem;
    height: 5rem;
    border-radius: 3px;
}

.read-more {
    width: 79px;
    height: 35px;
    line-height: 31px;
    text-align: center;
    border-radius: 15.5px;
    background: #03a9f4;
    font-size: 16px;
    color: #fff;
}

a:link.read-more {
    color: #fff;
}

a:visited.read-more {
    color: #fff;
}

.footer {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #666666;
}
